body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

/* TOPO */
.topo {
    text-align: center;
    padding: 30px 0;
    background-color: white;
}

.topo img {
    max-width: 250px;
}

/* BUSCA */
.busca {
    text-align: center;
    margin: 20px 0;
}

.busca input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
}

/* ARTIGOS */
.container {
    width: 70%;
    margin: auto;
}

.artigo {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.descricao {
    display: none;
    margin-top: 10px;
}
